:root {
    --primary-color:#CBFE00;
    --light-color: #E4F993;
    --secondary-color:#CEA5AD;
    --neutral-white:#F6F5FF;
    --neutral-light: #FDF5E9;
    --midlight-color:#73A8B8;
    --highlight-color: #2d7ada;
    --regular-color:black;   
}
*{
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding:0;
    margin: 0;
}
html{
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    width: .8rem;
}
html::-webkit-scrollbar-track{
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    background: var(--midlight-color); 
    border-radius: 5rem;
    
}   
body{
    background: var(--neutral-light);
}
h1{
    text-align: center;
     color: var(--regular-color);
    /* padding: 2rem; */
    font-size: 3rem;
    text-align: center;
    font-family: 'Gill Sans', sans-serif;
    
}
h2{
    font-size: 2rem;
    color: var(--regular-color);
    text-align: center;
    font-family: 'Gill San', sans-serif;
}
h3{
    font-family: 'PT Serif', serif;
    font-size: 2rem;
    /* padding: 1rem; */
    color: var(--regular-color);
}

p, ul, ol{
    font-size: 1rem;
    line-height: 1.25rem;
    color:var(--regular-color);
    list-style: none;
}
body{
    margin: 0;
}
/* .logo{
    margin: 1rem;
} */
/* header{
    display: grid;
    grid-column: span 5;
    grid-template-columns: repeat(5, 1fr);
    background-color: var(--primary-color);
    position: fixed;
    width: 103%;
    justify-content: space-between;
    padding: 1rem 1rem;   
    border-bottom: 1px solid var(--regular-color);
    /* margin:   0rem -10rem -10rem; 
    align-items: center;
} */

.header{
    background: var(--light-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1.5rem 7%;
    border-bottom: solid 0.1rem var(--regular-color);
    position: fixed;
    top:0; left:0; right:0;
    z-index: 1000;
}
.header .logo img{
    height: 2rem;
    /* margin: 0 3rem 0 -2rem; */
}
.header .navbar a{
text-decoration: none;
list-style: none;
margin: 0 1rem 0 1rem;
font-size: 1.6rem;
color: var(--regular-color);
}
.header .navbar a:hover{
text-decoration: underline;
}
.header .icon div{
    color: var(--regular-color);
    cursor: pointer;
    font-size: 2rem;
    margin-right: -6rem;
}
#menu-btn{
    display: none;
}
/****button****/

.button{
/* margin: 2rem 30rem 2rem 30rem; */
background-color: var(--neutral-white);
color: var(--regular-color);
text-align: center;
text-decoration: none;
padding:1rem 1.5rem ;
box-shadow: 0 .125rem .5rem rgba(0,0,0, 15)  ;
display: inline-block;
transition: background-color 0.25s ease;
}
 .button:hover{
    background: var(--secondary-color);
}
.regular{
    margin-left: -3rem;
    /* margin-top: -2rem; */
    background-color: var(--neutral-white);
    width: 11rem;
    align-self: center;
}
.left{
    /* margin: -2rem;
    margin-top: -15rem; */
    margin-bottom: 9rem;
}
.right{
    margin-top: 0rem;
    align-self: center;
    width: 12rem;
    margin-left: -36rem;
}

img{
    max-width: 100%;
}
/****** Lay Out*****/
.grid{
    margin: 0 auto;
}
.container{  
display: grid;
grid-template-columns: repeat(12, 1fr);
margin: 0 auto;
justify-content: center;
}

.container > * {
    grid-column: span 12;
}
.titileimage{
    max-width: 70%;
}
.color {
    color: #CBFE00;
    font-size: 5rem;
    margin-top: 7rem;
    margin-bottom: 5rem;
}

.image1, .white-frame{
    grid-row: 1/2;
    padding-top: 37rem;
}
.image1{
    grid-column: 1/ span 25 ;
    /* padding: 9rem 7rem 10rem 5rem; */
    background-color: black; 
    margin-top: -26rem;
}
.image2{
    margin-bottom: -1rem;
}
.image3{
    margin-bottom: 8rem;
}
.white-frame{
    grid-column: 3/span 8;
    text-align: center;
}
/**promotion section**/
.delivery{
    display: grid;
    grid-template-columns: repeat(25, 1fr);
    background-color: var(--midlight-color);
}
.delivery > * {
    grid-column:span 25 ;

}
.delivery-image, .frame{
    grid-row: 1/2;
}
.delivery-image {
grid-column: 15/ span 10;
margin: 3rem 2rem 15rem;
}

.delivery-image img {
    margin-top: 11rem;
    border-radius: 2.5rem;
}
.frame{
    grid-column:1/span 9 ;
    width: 150%;
    margin: 4rem 6rem;
}

.frame h2 {
    font-size: 4rem;
}

.frame p {
    font-size: 2rem;
    line-height: 2rem;
    width: 77%;
}

.text-adjust{
    margin:2rem;
    color: var(--primary-color);
    text-align:left;
}
.three-image{
    background-color: var(--neutral-light);
}
.interactive{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-color: var(--neutral-light);

}
.pink{
    margin-top:-9rem;
}
.green{
    background-color: var(--light-color);
    margin-top: -19rem;
}
.interactive > *{
    grid-column: span 12 ;
}
.interactive-image{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
/* .interactive-image >*{
    grid-column: span 12;
} */

.interactive-image img{
    border-radius: 2rem;
    border: 3px solid;
    border-color:var(--midlight-color);
   
}
.bodyproduct{
    grid-column: 3/ span 4; 
}
.box img{
    grid-column: 1/ span 12;
    border: none;
    border-radius: 0rem;
  }
  .pink1{

    width: 33rem;
    background-color:var(--neutral-light);
    height: 14rem;
    align-self: center;
    margin-left: -49rem;
    border-radius: 2rem;
    border: 0.125rem solid var(--regular-color);
    padding:2.5rem;
    margin-top: -117rem;
    text-align: left;
   
  }
  
 
.yellowbox{
    margin-left: -56rem;
    margin-top: 9.5rem;
    width: 29rem;
}

  .blue1{
        margin-top: -26rem;
        margin-left: 40rem;
        background-color: var(--neutral-white);
        grid-column: 1 / span 3;
  }
  .oil{
      margin-left: 4rem;
  }
  /* .barrierre, .blue2{
      .
  } */
  .blue2{
      margin-top: -20rem;
  }
.blue3{
    margin-left: -51rem;
    margin-top: 69rem;
    background-color: var(--midlight-color);
    border: .125rem solid var(--regular-color);
}
  .text{
      text-align: left;
  }
  .blue{
        margin-left: -83rem;
        margin-top: -145rem;
        background-color: var(--midlight-color);
        width: 33rem;
        padding: 2rem;
  }
  .bluebackground{
      background-color: var(--midlight-color);

  }
  .cream{
      grid-column: 3/ span 4;
      margin-top:15rem;
    
  }
 
  .cream, .blue1{
      grid-row: 1/2;
  }
  .down{
    margin-top: 34rem;
    width: 33rem;
    height: 16rem;
    margin-left: -71rem;
    padding: 1rem 2rem;
  }

  
  .box, .pink1{
      grid-row: 1/2;
  }
.aha{
    border-radius: 3rem;
    width: 19rem;
    margin-left: 24rem;
    margin-top: 27rem;
        
}
.aha1{
    margin-left: -32rem;
    margin-top: 64rem;
    width: 52rem;
    margin-bottom: 24rem;
 }


.aha3{
    margin-top: -47rem;
    width: 180rem;
    margin-left: 17rem;
}
.neon{
    background-color: var(--light-color);
    margin-top: 138rem;
    height: 19rem;
    width: 37rem;
}
.barrierre{
    grid-column: 5/ span 6;
    margin-top: 11rem;
    margin-bottom: 22rem;
}
.top{
    margin-top: -43rem;
    margin-bottom: 1rem;
    width: 39rem;
    height: 17rem;
    margin-left: 7rem;
    grid-column: 1/ span 5;  
}
.bottom{
    margin-top: 31rem;
    background-color: var(--neutral-light);
    width: 30rem;
    height: 14rem;
    margin-left: -39rem;
}
.bottom1{
    margin-top: -50rem;
    margin-left: -53rem;
}


.titile-2{ 
font-size: 5rem;
 margin: 8rem 8rem 2rem;
  margin-left: 8rem;
  text-align: right;
margin-left: 24rem;
}
.moisturizer{
    grid-column: 7/ span 4;
}

img .bodyproduct {
    border-radius: 4.5rem;
}

.discription{
    margin-top: -47rem;
    margin-left: 19rem;
}


.button-interactive{
background-color: var(--secondary-color);
color: #ffffff;
text-align: center;
text-decoration: none;
padding:1rem 1.5rem ;
border-radius: 0.5rem; 
box-shadow: 0 .125rem .5rem rgba(0,0,0, 15)  ;
display: inline-block;
transition: background-color 0.25s ease;
margin: 2rem 10rem;
}
.button-interactive:hover{
    background-color:#2d7ada;
}
/* .bodyproduct, .button, .regular{
    grid-row: 1/2;
}  */
.interactive-right {

   margin-top: 2rem;
}
/* .moisturizer, .right{
    grid-row: 1 / 2;
} */
.facialoil{
   grid-column: 3/span 4;
   margin-top: 1rem;
   margin-bottom: 9rem;
}

/* .facialoil, .button, .regular, .left{ 
    grid-row: 1/2;
} */

.products-section{
    display:flex;
    justify-content: center;
    flex-flow: row wrap;
    padding: 2rem 4rem;
    }

/* nav{
    text-decoration: none;
    margin-bottom: 1.5rem;
} */
/* nav ul{
    display: flex;
    /* list-style: none; 
    justify-content: space-around;
    position:fixed;
} */
/* nav ul li:hover{
    text-decoration: underline;
} */
/* nav ul li a{
    
    font-size: 25px;
    text-decoration: none;
    color: black;
    transition: all 0.3s ease;
    margin: 8rem 3rem 8rem 0.5rem ;
    text-align: center;
    font-family:'Gill Sans', sans-serif ;
} */

.row{
    display: flex;
    padding-left: 1.5rem;
}
.footer .container-1 .row .footer-col h3 ul{
    color: var(--primary-color);

}

.footer{
    font-family: 'PT Serif', serif;
    background-color: var(--regular-color);
}

.footer-col{
    width: 100%;
    padding: 3rem 3rem 2rem 1rem;
}

.footer-col ul {
    line-height: 3rem;
}

.footer-col h3{
    font-size: 2rem;
    color:var(--primary-color);
    margin-bottom: 35px;
    font-weight: 1000;
    text-align: left;
}

.footer-col ul li:not( :last child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: 300;
    color: var(--primary-color);
    display: block;
    transition: all 0.3s ease;

}
.footer-col ul li a:hover{
    text-decoration: underline;
    text-decoration-color: var(--primary-color);
}

.copy-right {
    color: var(--primary-color);
    font-size: 1.25rem;
    padding-bottom: 0.5rem;
    text-align: center;
}

/* responsive */
@media screen and (max-width:991px) {
  html{
      font-size: 55%;
  } 
  .header{
      padding: 1.5rem 2rem;
  }
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
     }
    .titile-2{
        /* margin-left: 1rem; */
        margin: 4rem 9rem 4rem;
        font-size: 4rem;
        text-align: left;
     }
    .moisturizer{
        grid-column: 3/ span 4;
        margin: 7rem 1rem 6.5rem 0rem;
     }
    .interactive-image img{
        max-width: 110%;
    }
    .box img{
        max-width: 100%;
    }
    .delivery {
        display: grid;
        grid-template-columns: repeat(25, 1fr);
    }
     .delivery > * {
            grid-column: 2/ span 15 ;
        
    }

    /* .text-adjust{
        margin-top: 30rem;
    } */
    .frame {
        margin-top:48rem;
    }
    #menu-btn{
        display: inline-block;
        margin-right: 4rem;
    }
    .header .navbar{
        position:absolute;
        top:100%; right: -100%;
        background: var(--light-color);
        width:30rem;
        height: calc(100vh - 9.5rem);

    }
    .header .navbar .active{
        right: 0;
    }
    .header .navbar a{
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 2rem;
        color:var(--regular-color);
    }
  /* .interactive-image .button .regular{
      grid-column: 3/ span 4;
  } */
  .three-image{
      display: grid;
  }
.mobile{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding:1rem 1.5rem ;
    margin: 0rem 10rem -35rem -22rem;
  }
  .facialoil{
      margin-bottom: 11rem;
  }
  .left{
      margin-top: -7rem;
  }
.blue{
    margin-left: -67rem;
    margin-top: -151rem;
    width: 34rem;
  }
  
.pink1{
    height: 16rem;
    align-self: center;
}
.pink1.neon{
    margin-top: 58rem;
    margin-bottom: 6rem;
}
 .down{
    margin-top: 37rem;
    margin-left: -74rem;
  }
.yellowbox{
    margin-left: -38rem;
}
.down1{
    margin-top: 2rem;
}
}


 