:root {
    --primary-color:#033f5f;
    --secondary-color: #007cbc;
    --neutral-grey: #747e83;
    --neutral-light: #ffffff;
    --highlight-color: #f5ba36;


}




*{
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    margin: 0;
   
}

   
h1{
     font-size: 2.5rem;
     color: black;
    
}
   

h2{
    font-size: 2rem;
    color: var(--primary-color);
}
h3{
    font-size: 1.5rem;
    color: var(--primary-color);
}
p, ul, ol{
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: var(--neutral-grey)

}
img{
    max-width: 100%;
}
/****** Lay Out*****/
.container{
    background-color: rgb(15, 46, 27);
    width: min(95%, 75rem);
    margin: 0 auto;
    display: grid;
    gap: 1.5rem;
grid-template-columns: repeat(12, 1fr);
}
.container > *{
    grid-column: span 12;
}
/* Desktop Layout */
@media screen and (min-width: 40rem){
    .site-id {
        grid-column: 1/ span 5;
        background-color: #033f5f;
    }
    .col-span-2{
        grid-column:8/ span 5;
        background-color: rgb(42, 189, 28);
        padding: 1rem 4rem;
    }
    .col-span-3 {
        background-color: rgb(32, 20, 139);
        grid-column: span 3 ;
    }
    }
    .col-span-7{
        background-color: #63f3c3;
        grid-column: span 3;
    }
    .col-span-8{
        background-color: rgb(12, 105, 74);
        grid-column: 7/span 2;
    }
    .col-span-9{
        background-color: rgb(12, 105, 74);
       
    }
    .col-span-10{
        background-color: rgb(12, 105, 74);
    }
}



