
*{
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
     font-family: 'Chakra Petch', sans-serif; 
}
  
  body {
    background-color:rgb(206, 209, 212);
       margin: 0;
       
 
    }
    
   header {
       background-color: #345799;
       padding: 2rem;
    }
   
   h1{
       font-size: 3rem;

   }
   h2 {
        font-family: 'Times New Roman', Times, serif;
       font-size: 1.5rem;
   }
   h3 {
       font-size:  1.25em; 
       font-family: 'Times New Roman', Times, serif;
   }
   p{
       font-family: 'Times New Roman', Times, serif;
   }
img {
    max-width: 100%;
}
.circle{
    border-radius: 50%;
    border: 5px solid #345799;
}
footer{
    color: aliceblue;
}
#background-video{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}
a:link, a:visited{
    color: #e9e9e9;
    text-decoration: none;
}
a:hover{
    background-color: #94aad1;
    text-decoration: underline;
}
/******* Layout******/
.container{ 
    color: aliceblue;
    background-color: #16294d;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(12, 1fr);
    margin: 0 auto;
    width: min(95%, 75rem);
}
.container > * {
   grid-column: span 12;

}

/********* Navigation Using Flexbox *********/
nav{
    background-color:rgb(219, 159, 30) ;
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;  
} 
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
}
nav li{
    margin: 0 0.5rem;
}
nav a:link, nav a:visited{
    color: #ffffff;
    text-decoration: none;
    font-size: 1.125rem;
    padding: 1rem;
    display: block;
    transition: ease-in-out 250ms ;
}
nav a:hover{
    background-color: #345799;
    color: #ffffff;
}

/******* Components ******/
.button:link, button :visited{
    color: #ffffff;
    background-color: #345799;
    text-align: center;
    text-decoration: none;
    padding:1rem 1.5rem ;
    border-radius: 0.5rem; 
    box-shadow: 0 .125rem .5rem rgba(0,0,0, 15)  ;
    display: inline-block;
    margin: 0 0.25rem 0.25rem 0;
    transition: background-color 0.25s ease;
}
.button:hover{
    background-color: #224380;
}
 
.card{
    text-align: center;
    margin: 1rem;
    padding-bottom: 2rem;
    box-shadow: 0 .125rem .5rem rgba(0,0,0, 15)  ;

}
.card-title{
    margin: 0.75rem 0 0 0;
    padding: 0 2rem 0.5rem;
}
.card-text{
    margin: 0.5rem 0 1rem 0;
    padding: 0 2rem 0.5rem;
}
  
/******* Desktop Laypout ******/
@media screen and (min-width: 40rem){
    .col-span-8 {
    grid-column: span 8;
}
    .col-span-4 {
   grid-column: span 4;  
}
.work-section{
    display:flex;
    justify-content: center;
    flex-flow: row wrap;
    }
.card{
    flex-basis: 27.5%;
}

}

