
*{
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
  body {
    background-color:rgb(206, 209, 212);
       margin: 0;
       
 
    }
    
   header {
       background-color: #345799;
       padding: 2rem;
       
       font-family: 'Chakra Petch', sans-serif; 
  
    }
   
   h1{
       font-size: 3rem;

   }
   h2 {
       
       font-size: 1.5rem;
   }
   h3 {
       font-size:  1.25em; 

   }
   img {
    border-radius: 50%;
    border: 5px solid #345799;
}
footer{
    color: aliceblue;
}
#background-video{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}
/******* Layout******/
.container{
    
    color: aliceblue;
    background-color: #16294d;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(12, 1fr);
    margin: 0 auto;
    width: min(95%, 75rem);
}
.container > * {
   grid-column: span 12;

}
/******* Desktop Laypout ******/
@media screen and (min-width: 40rem){
    .col-span-8 {
    grid-column: span 8;
}
    .col-span-4 {
   grid-column: span 4;
   
}
}


    
