

  body {
    background-color:rgb(206, 209, 212);
       margin: 0 10%;
       font-family: Georgia, 'Times New Roman', Times, serif
 
    }
    .container{
        color: aliceblue;
        background-color: #16294d;
    }
   header {
       background-color: #345799;
       padding: 2rem;
       
       font-family: 'Chakra Petch', sans-serif; 
  
    }
   h1{
       font-size: 3rem;

   }
   h2 {
       
       font-size: 1.5rem;
   }
   h3 {
       font: size 1.25em; 

   }
   img {
    border-radius: 50%;
    border: 5px solid #345799;
}
#background-video{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}
