

  body {
       background-color:rgb(206, 209, 212);
       margin: 0 10%;
       font-family: Georgia, 'Times New Roman', Times, serif
   }
   header {
       background-color: #3860aa;
       padding: 2rem;
       
       font-family: 'Chakra Petch', sans-serif; 
  
    }
   h1{
       font-size: 3rem;

   }
   h2 {
       
       font-size: 1.5rem;
   }
   h3 {
       font: size 1.25em; 

   }
   img {
    border-radius: 50%;
    border: 5px solid #3860aa;
}
